@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

aside {
  flex: 0 0 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
}

h1,
p {
  color: #fff;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1em;
}

#render_error {
  fill: none;
  stroke: #f00;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.error__nav {
  max-width: 600px;
  margin: 40px auto 0;
  text-align: center;
}

.e-nav__link {
  height: 45px;
  line-height: 45px;
  width: 170px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  border: 1px solid #181828;
  color: #181828;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1rem;
  position: relative;
  overflow: hidden;
  background-color: #00ff9d;
}

.e-nav__link:before {
  content: '';
  height: 200px;
  background: #212121;
  position: absolute;
  top: 70px;
  right: 70px;
  width: 260px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.e-nav__link:after {
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 999;
  position: relative;
}

.e-nav__link:after {
  content: "Home Page";
}

.e-nav__link:hover:before {
  top: -60px;
  right: -50px;
}

.e-nav__link:hover {
  color: hsl(155, 100%, 50%);
}

.e-nav__link:nth-child(2):hover:after {
  color: #fff;
}